<div class="container">
  <h1>Country Information</h1>

  <!-- Search Form -->
  <form>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Search for a country</mat-label>
      <input
        matInput
        [(ngModel)]="searchTerm"
        name="country"
        (input)="onSearchTermChange()"
        placeholder="e.g., United States or US">
    </mat-form-field>
  </form>

  <!-- Filtered Countries List -->
  <ul  class="country-list">
    @for(country of filteredCountries; track country){
    <li>
      <a [routerLink]="['/country', country.countryCode]">{{ country.name }} ({{ country.countryCode }})</a>
    </li>
    }
  </ul>
  <div  class="error-message">
    @if(errorMessage){
      {{ errorMessage }}
    }

  </div>

  <!-- Random Countries Widget -->
  <h2>Random Countries</h2>

  <!-- Loading Spinner -->
  <div  class="spinner-container">
    @if(isLoadingRandomCountries){
        <mat-spinner></mat-spinner>
    }
  </div>

  <!-- Random Countries List -->
  <div class="random-countries">
    @if(!isLoadingRandomCountries){
    @for(rc of randomCountries; track rc){
    <mat-card  class="random-country">
      <mat-card-title>
        <a [routerLink]="['/country', rc.country.countryCode]">{{ rc.country.name }}</a>
      </mat-card-title>
      <mat-card-content>
        <p>Next Holiday: {{ rc.holiday.localName }}</p>
        <p>Date: {{ rc.holiday.date | date }}</p>
      </mat-card-content>
    </mat-card>
    }
    }
  </div>

  <!-- Refresh Button -->
  <button mat-raised-button color="accent" (click)="loadRandomCountries()">Refresh Random Countries</button>
</div>


